h1 {
  text-align: center;
}

hr {
  border: 1px solid black;
}

.palette-grid {
  display: flex;
}

.shapes-grid {
  border: 1px solid darkblue;
  margin-top: 150px;
  margin-left: 400px;
  margin-right: 75px;
  width: 150px;
  height: 600px;
}

.canvas-grid {
  border: 1px solid darkblue;
  margin-top: 150px;
  width: 900px;
  height: 600px;
}
